body {
    margin: 0
}
#container {
    background-image: url("img/faded-office.png");
    background-size: cover;
    height: 700px;
    width: 100%;
    margin: 0;
}

.underline {
    border-bottom: 5px solid #0ea5e9;
}

.content {
    padding: 10px 60px;
    margin: 50px 20px;
}

.title {
    font-size: 75px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #020202;
}

.subText {
    font-size: 30px;
}

.btn {
    padding: 20px 40px;
    background-color: #0ea5e9;
    color: white;
    border: none;
    font-weight: bold;
    /* height: 60px;
    width: 120px; */
}